blessings==1.7
braintree==3.59.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
Flask==1.0.3
funcsigs==1.0.2
gunicorn==19.9.0
idna==2.9
inquirer==2.6.3
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mock==3.0.5
pbr==5.4.4
psycopg2-binary==2.8.4
python-dotenv==0.10.3
python-editor==1.0.4
readchar==2.0.1
requests==2.23.0
six==1.14.0
typing==3.7.4.1
urllib3==1.25.8
Werkzeug==1.0.0
