{% extends "_layout.html" %}

{% block title %}
{{user.name}} Requests
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}



<h1>REVIEW REQUEST HERE</h1>

{% for request in requests %}

<p>{{request.fan.name}} as a follower is currently {{request.approved}}</p>
<form action="{{url_for('follows.approve', fan_id=request.fan.id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Approve</button>
</form>
{%endfor%}


{% endblock %}